<%= render 'users/user_info', user: @user %>
  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
   <table class="table">
    <tbody>
     <tr>
      <td><%= link_to user_path(@book.user_id) do %>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:'40x40' %></br>
          <%= @book.user.name %>
          <% end %>
      </td>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.body %></td>
      <% if @book.favorited_by?(current_user) %>
       <td>
        <%= link_to book_favorites_path(@book), method: :delete do %>
          ♥<%= @book.favorites.count %>
        <% end %>
       </td>
       <% else %>
       <td>
        <%= link_to book_favorites_path(@book), method: :post do %>
          ♡<%= @book.favorites.count %>
        <% end %>
       </td>
      <% end %>

      <td>
       コメント件数: <%= @book.post_comments.count %>
      </td>

      <td>
        <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success' %>
        <% end %>
      </td>
      <td>
       <% if @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete , class: 'btn btn-danger' %>
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
   <table>
    <% @book.post_comments.each do |post_comment| %>
     <% post_comment_user = post_comment.user %>
     <tr>
      <td>
       <%= link_to user_path(post_comment_user), class: "user_#{post_comment_user.id}" do %>
       <%= attachment_image_tag post_comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
       <%= post_comment_user.name %>
       <% end %>
      </td>
      <td><%= post_comment.comment %></td>
      <% if current_user == post_comment_user %>
      <td><%= link_to 'Destroy', book_post_comment_path(post_comment.book_id, post_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
     </tr>
   </table>
   <%= form_with model:[@book,@book_comment], local: true do |f| %>
    <%= f.text_area :comment, size:"90x5" %><br>
    <%= f.submit '送信'%>
   <% end %>
  </div>
 </div>
</div>